.App {
  font-family: sans-serif;
  text-align: center;
}
li {
  list-style: none;
  text-align: left;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
